.navbar {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 8.5rem 1rem 8.5rem;
  font-size: 1.5rem;
  z-index: 5;
  top: 0;
  transition: padding-top 0.5s;
  background-color: transparent;
  color: #ddd;
  padding-top: 5rem;
  position: absolute;
  justify-content: space-between;
  align-items: center;
}

.logo {
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: #ddd;
  cursor: pointer;
}

.logo svg {
  width: 60px;
  height: 40px;
}

.logo h1 {
  font-size: 3rem;
  padding-left: 2rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
}

.logo:hover {
  color: #fff;
}

@media only screen and (max-width: 1399px) and (min-width: 1200px) {
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .navbar {
    position: fixed;
    padding: 1rem;
    color: white;
    z-index: 10;
    top: 0;
    background-color: #130912;
  }

  .logo h1 {
    font-size: 2rem;
    padding-left: 1.4rem;
  }

  .logo svg {
    width: 50px;
    height: 30px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 576px) {
  .navbar {
    position: fixed;
    padding: 1rem;
    color: white;
    z-index: 10;
    top: 0;
    background-color: #130912;
  }

  .logo h1 {
    font-size: 1.8rem;
    padding-left: 1.2rem;
  }

  .logo svg {
    width: 40px;
    height: 30px;
  }
}

@media only screen and (max-width: 575px) {
  .navbar {
    position: fixed;
    padding: 1rem;
    color: white;
    z-index: 10;
    top: 0;
    background-color: #130912;
  }

  .logo h1 {
    font-size: 1.7rem;
    padding-left: 1rem;
  }

  .logo svg {
    width: 40px;
    height: 30px;
  }
}
