.success-wrapper {
  min-height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.success-wrapper h2 {
    font-size: 2.6rem;
    color: #130912;
    font-weight: 700;
    text-transform: uppercase;

    letter-spacing: 0.4rem;
}

.success-wrapper p {
    font-size: 2rem;
    color: #130912;
    font-weight: 400;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.4rem;
}

.success-icon {
    color: #130912;
    width: 40%;
    padding-bottom: 1rem;
}