.card {
  width: 32%;
  height: auto;
  margin: 3rem 0;
  border-radius: 20px;
  background-color: #f8f7f5;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  padding: 3rem 2.5rem 3rem 3rem;
  text-align: center;
  transition: transform 0.5s;
}

.card img {
  width: 100%;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.card h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.card p {
  text-align: justify;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .card {
    width: 32%;
    margin: 3rem auto;
  }
  .card img {
    height: auto;
    width: 100%;
    object-fit: cover;
    margin-bottom: 0.5rem;
  }
  .card h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .card p {
    text-align: justify;
  }
}

@media only screen and (max-width: 767px) and (min-width: 576px) {
  .card {
    width: 70%;
    margin: 1rem auto;
  }
  .card img {
    width: min-content;
    height: 20rem;
    object-fit: cover;
    margin-bottom: 0.5rem;
  }
  .card h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 575px) {
  .card {
    width: 70%;
    margin: 1rem auto;
  }
  .card img {
    width: min-content;
    height: 20rem;
    object-fit: cover;
    margin-bottom: 0.5rem;
  }
  .card h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
}