.featured-products {
  padding-top: 3rem;
  text-align: center;
  background-color: #f1f0ed;
}

.featured-products h2 {
  text-transform: uppercase;
  font-size: 2rem;
}

.featured-products p {
  font-size: 1.3rem;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0rem;
}

.buy-now-button {
  display: inline-block;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
  margin: 0rem 0 2.5rem 0;
  color: #0e070d;
}

.buy-now-button:hover {
  color: #50334b;
}


@media only screen and (max-width: 991px) and (min-width: 768px) {
  .product-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 0rem;
  }
}

@media only screen and (max-width: 767px) and (min-width: 576px) {
  .product-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 0rem;
  }

  .buy-now-button {
    margin: 1.5rem 0 2.5rem 0;
  }
}

@media only screen and (max-width: 575px) {
  .product-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 0rem;
  }

  .buy-now-button {
    margin: 1.5rem 0 2.5rem 0;
  }
}