.header-image {
  width: 100%;
  height: 37.5rem;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: 0;
  background-image: linear-gradient(
      0deg,
      #0e070d 0%,
      rgba(255, 255, 255, 0) 70%,
      rgba(0, 0, 0, 0.6811099439775911) 100%
    ),
    url('../../assets/images/headerbgsmall.jpg');
}

.header-text {
  text-align: center;
  height: 37.5rem;
  padding: 17rem 5rem 5rem 5rem;
  font-size: 1.4rem;
  font-style: italic;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: white;
}

.header-text a {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2rem;
  color: #fff;
  font-style: normal;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.header-text a:hover {
  color: #ccc;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .header-text {
    padding: 15rem 5rem 5rem 5rem;
  }

  .header-text a {
    margin-top: 1.8rem;
  }
}
@media only screen and (max-width: 767px) and (min-width: 576px) {
  .header-text {
    padding: 13rem 5rem 5rem 5rem;
  }

  .header-text a {
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 575px) {
  .header-text {
    padding: 8rem 5rem 5rem 5rem;
  }

  .header-text a {
    margin-top: 1rem;
  }
}
