.product-div {
  background-color: #0e070d;
  height: 20rem;
  color: white;
  display: flex;
  font-style: italic;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 0 1rem;
}

.product-div img {
  height: 18rem;
  width: auto;
  border-radius: 20%;
  padding: 1.6rem 0;
  margin-right: 2rem;
  animation: 0.8s ease-in-out 0s 1 slideInFromLeft;
  src: '../../photo01.png';
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  100% {
    opacity: 100;
    transform: translateX(0);
  }
}

@keyframes textAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.product-div h2 {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.4rem;
  padding-bottom: 0.4rem;
  animation: 0.8s ease-in-out 0s 1 textAppear;
}

.product-div p {
  font-size: 1.2rem;
  padding-bottom: 0.4rem;
  line-height: 1.4rem;
  animation: 0.8s ease-in-out 0s 1 textAppear;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {

  .product-div {
    padding: 0 auto;
  }
  .product-div img {
    display: none;
  }

  .product-div h2 {
    padding-left: 1.6rem;
    padding-bottom: 0.5rem;
  }
  
  .product-div p {
    font-size: 1.3rem;
    padding:0 1rem;
  }
}

@media only screen and (max-width: 767px) and (min-width: 576px) {
  .product-div {
    padding: 0 auto;
  }

  .product-div img {
    display: none;
  }

  .product-div h2 {
    padding-left: 1.6rem;
    padding-bottom: 0.5rem;
  }
  
  .product-div p {
    font-size: 1.3rem;
    padding:0 1rem;
  }
}

@media only screen and (max-width: 575px) {
  .product-div {
    padding: 0 auto;
  }
  .product-div img {
    display: none;
  }

  .product-div h2 {
    padding-left: 1.6rem;
    padding-bottom: 0.5rem;
  }
  
  .product-div p {
    font-size: 1.3rem;
    padding:0 1rem;
  }
}