/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

main {
  width: 100%;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.container-flex {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.justify {
  justify-content: space-between;
}

@media only screen and (max-width: 1399px) and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
  /* .container {
    width: 80rem;
  }
  .container-flex {
    width: 80rem;
  } */
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  html {
    font-size: 14px;
  }
  /* .container {
    width: 60rem;
  }

  .container-flex {
    width: 60rem;
  } */
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  html {
    font-size: 14px;
  }
  .container {
    width: 100%;
  }

  .container-flex {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) and (min-width: 576px) {
  html {
    font-size: 14px;
  }
  .container {
    width: 100%;
  }
  .container-flex {
    width: 100%;
  }
}

@media only screen and (max-width: 575px) {
  html {
    font-size: 12px;
  }
  .container {
    width: 100%;
  }
  .container-flex {
    width: 100%;
  }
}
