.product-item {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 2rem;
  user-select: none;
  cursor: pointer;
}

.detail-flex {
  display: flex;
}

.detail-column {
  flex-direction: column;
}

.product-half {
  flex-basis: 0;
  flex-grow: 1;
}

.product-price-half {
  flex-basis: 0;
  flex-grow: 1;
}

.product-price {
  text-align: right;
  text-transform: uppercase;
  margin-bottom: 0.4rem;
}

.product-price-total {
  text-align: right;
  text-transform: uppercase;
  margin-bottom: 0.4rem;
}

.product-item:hover {
  color: #50334b;
  background-color: #e4e2dc;
}

.product-item h4 {
  font-weight: 700;
  font-size: 2.4rem;
  text-transform: uppercase;
}

.product-description {
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 0.4rem;
}

.product-item h5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

.product-sub-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  text-align: end;
}

.product-total-title {
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  text-align: end;
  margin-top: 1.7rem;
}

.type-title {
  margin-top: 0.45rem;
  margin-bottom: 0.3rem;
}

.amount-title {
  margin-top: 0.45rem;
  margin-bottom: 0.3rem;
}

.add-to-cart {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  text-align: end;
  cursor: pointer;
  color: #0e070d;
}

.add-to-cart:hover {
  color: #63425d;
}

.product-item-extend {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 2rem;
  user-select: none;
  position: relative;
  background-color: #e4e2dc;
}

.product-item-extend h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.4rem;
}

.product-item-extend p {
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 0.4rem;
}

.product-item-extend h5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

.price-container {
  text-align: end;
}

.product-close {
  font-weight: 700;
  font-size: 1.8rem;
  padding-top: 25px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.product-close:hover {
  color: #63425d;
}

@media only screen and (max-width: 1399px) and (min-width: 1200px) {
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .product-total-title {
    margin-top: 2.8rem;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .product-total-title {
    margin-top: 2.8rem;
  }
  .price-container {
    text-align: end;
  }
  .product-price-half {
    flex-basis: 0;
    flex-grow: 1;
  }
}
@media only screen and (max-width: 767px) and (min-width: 576px) {
  .product-total-title {
    margin-top: 1rem;
    text-align: left;
  }
  .product-sub-title {
    margin-top: 1rem;
    text-align: left;
  }
  .product-item-extend {
    display: block;
  }
  .product-half {
    display: block;
  }
  .product-price-half {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .product-price-total {
    text-align: left;
  }
  .add-to-cart {
    right: 25px;
  }
  .product-close {
    position: absolute;
    bottom: 20px;
    left: 25px;
  }
  .price-container {
    padding-bottom: 40px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 576px) {
  .product-total-title {
    margin-top: 1rem;
    text-align: left;
  }
  .product-sub-title {
    margin-top: 1rem;
    text-align: right;
  }
  .product-div {
    padding: 0 auto;
  }

  .product-div img {
    display: none;
  }

  .product-div h2 {
    padding-left: 1.6rem;
    padding-bottom: 0.5rem;
  }

  .product-div p {
    font-size: 1.3rem;
    padding: 0 1rem;
  }
  .product-item-extend {
    display: block;
  }
  .product-half {
    display: block;
  }
}

@media only screen and (max-width: 575px) {
  .product-total-title {
    margin-top: 1rem;
    text-align: left;
  }
  .product-sub-title {
    margin-top: 1rem;
    text-align: right;
  }
  .product-item-extend {
    display: block;
  }
  .product-half {
    display: block;
  }
  .product-price-half {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .product-price-total {
    text-align: left;
  }
  .add-to-cart {
    right: 25px;
    bottom: 20px;
  }

  .product-close {
    position: absolute;
    bottom: 20px;
    left: 25px;
  }
  .price-container {
    padding-bottom: 45px;
  }
}
