.modal {
  position: fixed;
  top: 20vh;
  left: 5%;
  width: 50%;
  left: calc(25%);
  background-color: #f1f0ed;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

@media only screen and (max-width: 1499px) and (min-width: 1200px) {
  .modal {
    width: 60%;
    left: calc(20%);
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .modal {
    width: 70%;
    left: calc(15%);
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .modal {
    width: 90%;
    left: calc(5%);
  }
}

@media only screen and (max-width: 767px) and (min-width: 576px) {
  .modal {
    width: 90%;
    left: calc(5%);
  }
}

@media only screen and (max-width: 575px) {
  .modal {
    width: 90%;
    left: calc(5%);
  }
}


@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
